.btn-my {
  // padding-left: 80px;
  // padding-right: 80px;
  width: 90%;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .btn-my {
    width: 70%;

  }
}

.select2-search--dropdown {
    display: none !important;
}


// формы темы с моим +7 телефоном

.allforms {

    //инпут телефона
    &__phone {
        padding-left: 50px;
    }

    &__phone-label {
      left: 50px;
    }

    &__phone-container {
        position: relative;
    }

    &__phone-container::before {
        content: '+7';
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        position: absolute;
        border-right: 1px solid rgba(83, 85, 87, 0.2);
        left: 10px;
        top: 0;
        min-width: 25px;
        height: 52px;
        line-height: 52px;
        font-size: 16px;
        background-color: transparent;
        color: black;
    }

}

// форма закончилась

@media (max-width: 768px) {
  .section-my {
    margin-bottom: 10px;
  }
}

// @media (max-width: 320px) {}
// @media (max-width: 480px) {}
// @media (max-width: 768px) {}
// @media (max-width: 1200px) {}
// @media (max-width: 1600px) {}



@media (min-width: 860px) {

  //шрифт меню
  // .rd-navbar-default .rd-navbar-static .rd-navbar-nav li {
  //     font-size: 14px;
  // }
  //
  // .rd-navbar-default .rd-navbar-fullwidth .rd-navbar-nav li {
  //   font-size: 18px;
  // }
}


@media (min-width: 1200px) {
    h4.text-primary {
        font-size: 22px;
        line-height: 1.2;
    }

    // .rd-navbar-default .rd-navbar-static .rd-navbar-nav > li + li {
    //     margin-left: 21px;
    // }
    //
    // .rd-navbar-default .rd-navbar-static .rd-navbar-inner .rd-navbar-cell {
    //     min-width: inherit;
    // }
}

@media (min-width: 1400px) {

  //шрифт меню на всю ширину
  // .rd-navbar-default .rd-navbar-static .rd-navbar-nav li {
  //     font-size: 20px;
  // }
  //
  // .rd-navbar-default .rd-navbar-fullwidth .rd-navbar-nav li {
  //   font-size: 18px;
  // }
}

@media (min-width: 1600px) {
    h4.text-primary {
        font-size: 22px;
        line-height: 1.2;
    }
}
