.filter {
    position: relative;
    //width: 456px;
    width: 100%;
    min-height: 330px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    &__hint {
      display: none;
    }
}

.filter input {
    display: none;
}

.filter__nav {
    position: relative;
    //456px
    width: 100%;
    height: 52px;
    left: 0;
    top: 0;
    background: #cacaca;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    align-items: baseline;
    margin: 10px auto;
}

.filter__lable {
    position: relative;
    // width: 20%;
    height: 52px;
    line-height: 52px;
    cursor: pointer;
    font-size: 12px;
    color: #86939e;

    span {
        display: none;
    }
    //цифра
    &::before {
        content: attr(data-title);
        position: absolute;
        display: none;
        color: white;
        width: 62px;
        height: 62px;
        left: 50%;
        transform: translateX(-50%);
        top: -10px;
        padding-top: 25px;
        text-align: center;
        line-height: 16px;
        font-size: 16px;
        font-weight: bold;
        z-index: 101;
    }
    //красный кружок с текстом

    &::after {
        content: attr(data-description);
        position: absolute;
        display: none;
        color: white;
        box-sizing: border-box;
        border: 3px solid white;
        border-radius: 50%;
        background: #fb5255;
        width: 62px;
        height: 62px;
        left: 50%;
        transform: translateX(-50%);
        top: -5px;
        padding-top: 30px;
        text-align: center;
        line-height: 16px;
        font-size: 12px;
        z-index: 100;
        transition: all 0.3s;
    }
}

.filter__bar {
    position: absolute;
    height: 52px;
    left: 0;
    top: 0;
    border-radius: 4px;
    background: #68b240;
    // зеленый
    // z-index: -5;
    // transition: all 0.1s;
}
@media (min-width: 480px) {
    .filter {
        //width: 456px;
    }

    .filter__nav {
        //456px
        margin: 20px auto;
    }

    .filter__lable {
        // width: 20%;
        font-size: 12px;

        span {
            display: none;
        }
        //цифра
        &::before {
            width: 76px;
            height: 76px;
            top: -10px;
            padding-top: 25px;
            line-height: 16px;
            font-size: 16px;
        }
        //красный кружок с текстом
        &::after {
            width: 76px;
            height: 76px;
            top: -10px;
            padding-top: 35px;
            line-height: 16px;
            font-size: 12px;
        }
    }

    .filter__bar {}
}
@media (min-width: 768px) {
    .filter {
        //width: 456px;
    }

    .filter__nav {
        //456px
        margin: 20px auto;
    }

    .filter__lable {
        // width: 20%;
        font-size: 12px;

        span {
            display: inline;
        }
        //цифра
        &::before {
            width: 93px;
            height: 93px;
            top: -10px;
            padding-top: 20px;
            line-height: 16px;
            font-size: 16px;
        }
        //красный кружок с текстом

        &::after {
            width: 93px;
            height: 93px;
            top: -20px;
            padding-top: 45px;
            line-height: 16px;
            font-size: 12px;
        }
    }

    .filter__bar {}
}
@media (min-width: 992px) {
    .filter {
      &__hint {
        position: absolute;
        display: block;
        color: red;
        font-size: 16px;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
        min-height: 21px;
      }
    }

    .filter__nav {
        justify-content: space-between;
    }

    .filter__lable {

        // width: 20%;
        font-size: 16px;

        &:first-of-type {
            padding-left: 15px;
        }

        &:last-of-type {
            padding-right: 15px;
        }
        //цифра
        &::before {
            // width: 93px;
            // height: 93px;
            //
            // top: -10px;
            //
            // padding-top: 20px;
            //
            // line-height: 16px;
            // font-size: 16px;
        }
        //красный кружок с текстом

        &::after {
            // width: 93px;
            // height: 93px;
            //
            // top: -20px;
            //
            // padding-top: 45px;
            // line-height: 16px;
            // font-size: 12px;
        }
    }
}
@media (min-width: 1024px) {}
@media (min-width: 1200px) {
    .filter {
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin: 0;
    }

    .filter__nav {
        justify-content: space-between;
        width: 800px;
        margin: 72px 0;
    }

    .filter__lable {
        // width: 20%;
        font-size: 16px;

        &:first-of-type {
            padding-left: 15px;
        }

        &:last-of-type {
            padding-right: 15px;
        }
        //цифра
        &::before {
            // width: 93px;
            // height: 93px;
            //
            // top: -10px;
            //
            // padding-top: 20px;
            //
            // line-height: 16px;
            // font-size: 16px;
        }
        //красный кружок с текстом

        &::after {
            // width: 93px;
            // height: 93px;
            //
            // top: -20px;
            //
            // padding-top: 45px;
            // line-height: 16px;
            // font-size: 12px;
        }
    }
}
@media (min-width: 1600px) {
    .filter {
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin: 0;
    }

    .filter__nav {
        justify-content: space-between;
        width: 1000px;
        margin: 72px 0;
    }

    .filter__lable {
        // width: 20%;
        font-size: 16px;

        &:first-of-type {
            padding-left: 15px;
        }

        &:last-of-type {
            padding-right: 15px;
        }
        //цифра
        &::before {
            // width: 93px;
            // height: 93px;
            //
            // top: -10px;
            //
            // padding-top: 20px;
            //
            // line-height: 16px;
            // font-size: 16px;
        }
        //красный кружок с текстом

        &::after {
            // width: 93px;
            // height: 93px;
            //
            // top: -20px;
            //
            // padding-top: 45px;
            // line-height: 16px;
            // font-size: 12px;
        }
    }
}
