.tarif-block {
  //480px
  width: 100%;
  min-width: 320px;
  border: 2px solid #cacaca;
  border-radius: 10px;
  margin: 70px auto 0;
  min-height: 415px;
}


.tarif-block__nav {
  font-size: 18px;
  line-height: 25px;
  padding: 23px 0;
  margin: 0 auto;
}


.tarif-block__tab {
  cursor: pointer;
  display: block;
  padding: 10px;
  margin: 0;
  text-align: center;
  font-weight: bold;
  opacity: 0.8;
  border: 2px solid transparent;
  border-radius: 26px;

  &--2 {
    display: none;
  }

  &--checked {
    color: #fb5255;
    border: 2px solid #cacaca;
    opacity: 1;

    .tarif-block__sale {
    // visibility: visible;
    color: #fb5255;
    }
  }


  &:hover {
    border: 2px solid #cacaca;
    opacity: 1;

    // .tarif-block__sale {
    // // visibility: visible;
    // color: #fb5255;
    // }
  }
  //
  // &:not(:hover) {
  //   .tarif-block__sale {
  //   visibility: hidden;
  //   }
  // }
}

.tarif-block__sale {
  display: block;
  color: black;
  font-size: 13px;
  // visibility: hidden;

  // &--visibility {
  //   visibility: visible;
  // }
}


// @media (min-width: 320px) {}
@media (min-width: 480px) {
  .tarif-block {
    //480px
    width: 450px;
    min-height: 415px;
  }


  .tarif-block__nav {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    font-size: 12px;
    line-height: 25px;
    padding: 23px 0;
  }

  .tarif-block__tab {
    width: auto;
    margin-bottom: 0;
    padding: 10px;
    font-weight: bold;
    opacity: 0.7;
  }

}



@media (min-width: 768px) {
  .tarif-block {
    //480px
    width: 720px;
    min-height: 415px;
  }


  .tarif-block__nav {
    font-size: 18px;
    padding: 45px 0 23px 0;
  }

  .tarif-block__tab {
    padding: 13px 10px;
    font-weight: bold;
    opacity: 0.7;
  }

  .tarif-block__sale {
    display: block;
  }

}



@media (min-width: 992px) {
  .tarif-block {
    //480px
    width: 940px;
  }
  .tarif-block__nav {}
  .tarif-block__tab {}
}


@media (min-width: 1200px) {
  .tarif-block {
    //480px
    width: 1140px;
  }


  .tarif-block__nav {
    padding: 50px 100px 23px 100px;
  }

  .tarif-block__tab {
    padding: 5px 50px;
    border-radius: 50px;
  }

}
@media (min-width: 1600px) {

  .tarif-block {
    //480px
    width: 1400px;
  }
  .tarif-block__nav {
    padding: 50px 200px 23px 200px;
  }
  .tarif-block__tab {}


}
