.modal-content {
    display: none;
    position: fixed;
    min-width: 320px;
    top: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 1px solid #c7c7c7;
    background-color: #ffffff;
    z-index: 1000;
    text-align: center;
    box-shadow: 0 5px 9px 0 #cdcdcd;

    &--order {
      width: 50%;
      max-width: 660px;
    }
    
    &--quick {
      width: 50%;
      max-width: 660px;
    }

    &--show {
        display: block;
        animation: bounce 0.6s;
    }
}

.form1 {
    position: relative;

    &__top {
        background-color: #fa5254;
        color: white;
        padding-bottom: 20px;
    }

    &__title {
        color: white;
        padding: 20px 0 10px;
        margin: 0;
    }

    &__part-time {
        margin: 0;
    }

    &__text-top {
        display: block;
        margin-top: 20px;
    }

    &__inner {
        padding: 20px 30px;
        margin: 0 auto;
        width: 70%;
        color: black;
        text-align: left;
    }

    &__timer {}

    input {
        width: 100%;
        height: 52px;
        transition: all 0.3ms;
        padding: 0 15px;
        color: black;
        background: white;
        border-radius: 12px;
        font-size: 16px;
        border: 1px solid rgba(83, 85, 87, 0.2);

        &:focus {
            border: 1px solid black;
        }
    }
    //инпут телефона
    &__phone {
        padding-left: 50px !important;
    }

    &__phone-container {
        position: relative;
    }

    &__phone-container::before {
        content: '+7';
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        position: absolute;
        border-right: 1px solid rgba(83, 85, 87, 0.2);
        left: 10px;
        top: 0;
        min-width: 25px;
        height: 52px;
        line-height: 52px;
        font-size: 16px;
        background-color: transparent;
        color: black;
    }

    &__small-text {
        margin: 0 0 20px;
        font-size: $font-size-small;
    }

    &__btn {
        width: 50%;
        max-width: 250px;
        margin: 30px auto;
    }
}
// Крестик

.form1__close,
.modal-content__close {
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    top: 20px;
    right: 20px;
    z-index: 1001;
    cursor: pointer;

    &::after,
    &::before {
        content: " ";
        position: absolute;
        top: 8px;
        right: 0;
        z-index: 10;
        width: 27px;
        height: 2px;
        background-color: white;

        &:hover {
            background-color: black;
        }
    }

    &::before {
        transform: rotate(45deg);
        box-shadow: none;
    }

    &::after {
        transform: rotate(-45deg);
    }
}
//+7 в телефоне

.form1 {
    label {
        display: block;
        position: static;
        margin: 20px 0 0;
        padding: 0;
        border-radius: 0;
        background: none;
        height: auto;
        width: 100%;
        cursor: none;
    }

    input::-webkit-input-placeholder {
        font-size: 20px;
        color: black;
        letter-spacing: 2px;
    }

    input::-moz-placeholder {
        font-size: 20px;
        color: black;
        letter-spacing: 2px;
    }

    input:-moz-placeholder {
        font-size: 20px;
        color: black;
        letter-spacing: 2px;
    }

    input:-ms-input-placeholder {
        font-weight: bold;
        font-size: 20px;
        color: black;
        letter-spacing: 2px;
    }
}

.form1--tariff {
    .form1 {

        &__data {
          width: 90%;
          margin: 0 auto;
          padding: 30px 0;
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;
          flex-wrap: wrap;
          text-align: center;
        }

        &__line1 {
          padding: 20px 0;
        }

        &__line2 {
          // width: 100%;
          align-self: center;
          text-align: center;
          padding: 10px 0;
        }

        &__time {
          font-weight: bold;

        }

        &__price {
          font-weight: bold;
          font-size: 30px;
        }

        &__number {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 20px;
        }

        &__minus {
            display: block;
            width: 50px;
            height: 50px;
            color: white;
            background: green;
            cursor: pointer;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;

            font-size: 40px;
            line-height: 50px;
            text-align: center;

            &:hover {
              opacity: 0.9;
            }
        }

        &__input-maxmin {
            width: 70px;
            max-width: 100px;
            height: 50px;
            max-height: 52px;
            text-align: center;
            border-radius: 0;
        }

        &__plus {
          display: block;
          width: 50px;
          height: 50px;
          color: white;
          background: green;
          cursor: pointer;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;

          font-size: 38px;
          line-height: 48px;
          text-align: center;

          &:hover {
            opacity: 0.9;
          }
        }
    }
}
@media (max-width: 1800px) {}
@media (max-width: 1600px) {}
@media (max-width: 1200px) {
    .form1 {
        &__inner {
            width: 80%;
        }
    }
}
@media (max-width: 992px) {
    .modal-content {
        width: 70%;
    }

    .form1 {
        &__inner {
            width: 90%;
        }

        &__small-text {
            padding: 0 20px;
            margin: 0 auto;
        }
    }
}
@media (max-width: 768px) {
    .modal-content {
        width: 80%;
        // top: 50%;
        // transform: translateY(-50%);
        &--show {}
    }

    .form1 {
        &__top {}

        &__title {}

        &__part-time {}

        &__text-top {}

        &__inner {
            width: 100%;
            min-height: 240px;
        }

        &__timer {}

        &__select {}

        input {
            &.form1__btn {}
        }

        &__small-text {}
    }
}
@media (max-width: 480px) {
    .modal-content {
        position: absolute;
        width: 100%;
        min-height: 100%;
        top: 0;
        // transform: translateY(0);
        padding-bottom: 20px;
    }

    .form1 {
        &__top {
            padding-top: 20px;
        }

        &__title {}

        &__part-time {}

        &__text-top {}

        &__inner {}

        &__timer {}

        &__select {}

        input {
            &.form1__btn {
                max-width: 100%;
                width: 80%;
                margin: 20px auto;
            }
        }

        &__small-text {}
    }

    .form1__close {
        top: 20px;
        right: 20px;
    }
}
@media (max-width: 360px) {
    .modal-content {}

    .form1 {
        &__top {}

        &__title {
            font-size: 18px;
        }

        &__part-time {}

        &__text-top {
            font-size: 14px;
        }

        &__inner {}

        &__timer {
            font-size: 14px;
        }

        &__select {}

        input {
            &.form1__btn {
                font-size: 18px;
            }
        }

        &__small-text {
            font-size: 12px;
        }
    }

    .form1__close {
        top: 10px;
        right: 10px;
    }
}
