.selection {

  &__input {
    display: none;
  }

  &--shipping {
    display: none;
  }

  &__title {
    margin-top: 80px;
    margin-bottom: 45px;
  }

  &__tabs {
    display: flex;
  }

  &__tab {


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;


    width: 50%;
    min-height: 120px;
    margin: 0;


    border: 1px solid #cacaca;



    &--1 {
      padding: 20px 30px 20px 90px;
      text-align: left;
      background: url("../images/popup/dot.png") no-repeat 20px 35px;
    }
    &--2 {
      padding: 20px 30px 20px 90px;
      text-align: left;
      background: url("../images/popup/letter.png") no-repeat 20px 35px;
    }
    &--3 {
      padding: 20px 30px 20px 90px;
      text-align: left;
      background: url("../images/popup/who.png") no-repeat 20px 35px;
    }
    &--4 {
      padding: 20px 30px 20px 90px;
      text-align: left;
      background: url("../images/popup/gift.png") no-repeat 20px 35px;
    }

    &--ship1 {
      padding: 20px 30px;
      text-align: center;
      align-items: center;
    }

    &--ship2 {
      padding: 20px 30px;
      text-align: center;
      align-items: center;
    }

    &--pay1 {
      padding: 55px 0 90px 0;
      text-align: center;
      align-items: center;
      background: url("../images/popup/cash.png") no-repeat center 80%;
    }

    &--pay2 {
      padding: 55px 0 90px 0;
      text-align: center;
      align-items: center;
      background: url("../images/popup/card.png") no-repeat center 80%;
    }

    &--pay3 {
      padding: 55px 0 90px 0;
      text-align: center;
      align-items: center;
      background: url("../images/popup/ewallet.png") no-repeat center 80%;
    }


    &:hover {
      border-color: white;
      box-shadow: inset 0 0 0 5px grey;
      cursor: pointer;
    }

    &--disabled {
      cursor: default;
      opacity: 0.3;

      &:hover {
        cursor: default;
        box-shadow: none;
        border: 1px solid #cacaca;
      }
    }
  }

  &__name {}
  &__text {
    margin-top: 5px;
  }

  &__hide {
    display: none;
  }

}

@media (max-width: 992px) {
  .selection {
    &__name {
      font-size: 20px;
    }
    &__text {
      font-size: 16px;
    }
  }

}
@media (max-width: 767px) {
  .selection {

    &__title {
      margin-top: 40px;
      margin-bottom: 25px;
    }

    &__tabs {
      flex-direction: column;
    }

    &__tab {
      width: 100%;
      min-height: 100px;

      &--1 {
        padding: 15px 30px 15px 90px;
        background-position: 20px 50%;
      }

      &--2 {
        padding: 15px 30px 15px 90px;
        background-position: 20px 50%;
      }

      &--3 {
        padding: 15px 30px 15px 90px;
        background-position: 20px 50%;
      }

      &--4 {
        padding: 15px 30px 15px 90px;
        background-position: 20px 50%;
      }

      &--ship1 {
        padding: 15px 20px;
      }

      &--ship2 {
        padding: 15px 20px;
      }

      &--pay1 {
        padding: 20px 0 50px 0;
        background-position: center 85%;
      }
      &--pay2 {
        padding: 20px 0 50px 0;
        background-position: center 85%;
      }
      &--pay3 {
        padding: 20px 0 50px 0;
        background-position: center 85%;
      }

    }
  }
}
@media (max-width: 480px) {}
@media (max-width: 360px) {
  .selection {

    &__title {
      margin-top: 40px;
      margin-bottom: 25px;
    }

    &__tabs {
      flex-direction: column;
    }

    &__tab {
      width: 100%;
      min-height: 100px;

      &--1 {
        padding: 15px 30px;
        background-image: none;
      }

      &--2 {
        padding: 15px 30px;
        background-image: none;
      }

      &--3 {
        padding: 15px 30px;
        background-image: none;
      }

      &--4 {
        padding: 15px 30px;
        background-image: none;
      }

    }
  }
}
