.selection {

  &__input {
    display: none;
  }

  &--shipping {
    display: none;
  }

  &__title {
    margin-top: 80px;
    margin-bottom: 45px;
  }

  &__tabs {
    display: flex;
  }

  &__tab {


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;


    width: 50%;
    min-height: 120px;
    margin: 0;


    border: 1px solid #cacaca;



    &--1 {
      padding: 20px 30px 20px 90px;
      text-align: left;
      background: url("../images/popup/dot.png") no-repeat 20px 35px;
    }
    &--2 {
      padding: 20px 30px 20px 90px;
      text-align: left;
      background: url("../images/popup/letter.png") no-repeat 20px 35px;
    }
    &--3 {
      padding: 20px 30px 20px 90px;
      text-align: left;
      background: url("../images/popup/who.png") no-repeat 20px 35px;
    }
    &--4 {
      padding: 20px 30px 20px 90px;
      text-align: left;
      background: url("../images/popup/gift.png") no-repeat 20px 35px;
    }

    &--ship1 {
      padding: 20px 30px;
      text-align: center;
      align-items: center;
    }

    &--ship2 {
      padding: 20px 30px;
      text-align: center;
      align-items: center;
    }

    &--pay1 {
      padding: 55px 0 90px 0;
      text-align: center;
      align-items: center;
      background: url("../images/popup/cash.png") no-repeat 50% 120px;
    }

    &--pay2 {
      padding: 55px 0 90px 0;
      text-align: center;
      align-items: center;
      background: url("../images/popup/visa.png") no-repeat 25% 125px,
                  url("../images/popup/maestro.png") no-repeat 50% 120px,
                  url("../images/popup/mastercard.png") no-repeat 70% 120px;
    }

    &--pay3 {
      padding: 55px 0 90px 0;
      text-align: center;
      align-items: center;
      background: url("../images/popup/webmoney.png") no-repeat 30% 125px,
                  url("../images/popup/yandex.png") no-repeat 50% 122px,
                  url("../images/popup/qiwi.png") no-repeat 70% 125px;
    }


    &:hover {
      border-color: white;
      box-shadow: inset 0 0 0 5px grey;
    }

    &--disabled {
      cursor: default;
      opacity: 0.3;

      &:hover {
        box-shadow: none;
        border: 1px solid #cacaca;
      }
    }
  }

  &__name {}
  &__text {
    margin-top: 5px;
  }

}
