//
// Posts
// --------------------------------------------------

// News post
// -------------------------

.news-post {
  .meta {
    color: $brand-primary;
    a:hover { color: $gray; }
  }

  @media (min-width: $screen-md-min) {
    * + h4 { margin-top: 5px; }
    * + p { margin-top: 5px; }
    * + .btn { margin-top: 10px; }
  }

  @media (min-width: $screen-lg-min) {
    * + h4 { margin-top: 21px; }
    * + p { margin-top: 18px; }
    * + .btn { margin-top: 35px; }
  }

}

.blog-post-meta, .comment {
  border: 1px solid $gray-lightest;
  border-radius: 14px;
  padding: 15px;

  .meta {
    color: $brand-primary;
    a:hover { color: $gray; }
  }

  .reply-btn { float: right; }

  h4:first-child { margin-top: -9px; }

  * + p { margin-top: 10px; }
  * + h4 { margin-top: 10px; }
  * + .meta { margin-top: 0; }

  @media (min-width: $screen-sm-min) {
    padding: 30px 20px;
  }

  @media (min-width: $screen-md-min) {
    padding: 42px 71px 46px 30px;

    * + h4 { margin-top: 16px; }
    * + p { margin-top: 24px; }
    * + .meta { margin-top: 10px; }
  }
}

.meta {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.02em;

  .meta-block { display: inline-block; }
  * + .meta-block { margin-left: 9px; }
}

* + .post-meta { margin-top: 20px; }
.post-meta + p { margin-top: 24px; }

.post-meta {
  border-width: 1px 0;
  border-style: solid;
  border-color: $gray-lightest;
  padding: 10px 0;
  font-size: 18px;
  line-height: 24px;

  .meta-block {
    display: inline-block;

    a {
      color: $brand-primary;
      &:hover { color: $gray; }
    }

    &:not(:last-child):after {
      content: "/";
      display: inline-block;
      margin-left: 4px;
    }
  }

  * + .meta-block { margin-left: 4px; }
}