//
// Custom typography
// --------------------------------------------------

// Page header
// -------------------------

.page-header {  }

// Page footer
// -------------------------

.page-foot {
  font-size: ceil($font-size-base * .77);
  .copyright { line-height: 1.1; }
  * + .copyright { margin-top: 30px; }

  @media (min-width: $screen-sm-min) {
    * + .copyright { margin-top: 18px; }
  }
}

// Fonts
// -------------------------

.font-default {
  font-family: $font-family-base;
}

// Basic Typography
// -------------------------

#{headings()} {
  margin-top: 0;
  margin-bottom: 0;
}


h1,
.h1 {
  font-size: round($font-size-h1 * .24);
  line-height: 1.5;

  @media (min-width: $screen-sm-min) {
    font-size: round($font-size-h1 * .6);
    line-height: 1.3;
  }

  @media (min-width: $screen-lg-1) {
    font-size: $font-size-h1; //208
    line-height: $font-lh-h1;
  }
}

h2,
.h2 {
  font-size: floor($font-size-h2 * .24);
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  @media (min-width: $screen-sm-min) {
    font-size: floor($font-size-h2 * .6);
    line-height: 1.2;
  }

  @media (min-width: $screen-md-min) {
    font-size: floor($font-size-h2 * .8);
    line-height: 1.2;
  }

  @media (min-width: $screen-lg-1) {
    font-size: $font-size-h2;
    line-height: $font-lh-h2;
  }
}

h3,
.h3 {
  font-size: floor($font-size-h3 * .4);
  line-height: 1.5;

  @media (min-width: $screen-md-min) {
    font-size: floor($font-size-h3 * .5);
    line-height: 1.2;
  }

  @media (min-width: $screen-lg-min) {
    font-size: floor($font-size-h3 * .7);
    line-height: 1.2;
  }

  @media (min-width: $screen-lg-2) {
    font-size: $font-size-h3;
    line-height: $font-lh-h3;
  }
}

h4,
.h4 {
  font-size: floor($font-size-h4 * .6);
  line-height: 1.5;
  letter-spacing: -0.03em;

  @media (min-width: $screen-lg-min) {
    font-size: $font-size-h4;
    line-height: $font-lh-h4;
  }
}

h5,
.h5 {
  font-size: 20px;
  line-height: 1.5;

  @media (min-width: $screen-sm-min) {
    font-size: $font-size-h5;
    line-height: $font-lh-h5;
  }
}

h6,
.h6 {
  font-size: 17px;
  line-height: 1.5;
  font-weight: 400;

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h6;
    font-size: $font-size-h6;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  a { transition: .3s all ease; }
  a:hover { color: $brand-primary; }
  .small { color: $gray-dark; }
}

p {
  margin-bottom: 0;
  letter-spacing: .02em;
}

p,
.p,
.list {  }

@media (min-width: $screen-xs) {
  .big {
    font-size: $font-size-large;
    line-height: floor(($font-size-large * $line-height-large));

    h1 &,
    .h1 & {
      font-size: 142.22%;
      line-height: 1.125;
    }

    h2 &,
    .h2 & {
      font-size: 147.36%;
      line-height: 1.142857142857143;
    }
  }
}

small,
.small{
  font-size: $font-size-small;
  line-height: floor(($font-size-small * $line-height-small));
}

blockquote small,
blockquote .small,
small,
.small {
  h1 &,
  .h1 & {
    font-size: 62.22222222222222%;
  }

  h2 &,
  .h2 & {
    font-size: 63.15789473684211%;
  }

  h3 &,
  .h3 & {
    font-size: 73.33333333333333%;
  }

  h4 &,
  .h4 & {
    font-size: 75%;
  }

  h5 &,
  .h5 & {
    font-size: 72.72727272727273%;
  }

  h6 &,
  .h6 & {
    font-size: 94.11764705882353%;
  }
}

code {
  padding: 5px 7px;
  font-size: 75%;
  color: $brand-danger;
  background-color: $gray-lighter;
  border-radius: 2px;
}

mark, .mark {
  background-color: $brand-primary;
  padding: .1em;
}

// Lists
// -------------------------

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list {
  > li + li { margin-top: 12px; }
}

// List inline
//

.list-inline {
  @include make-grid-indents("li", 6px, 0);

  > li {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
  }
}


// Description Lists
dl { margin: 0; }

// List terms
//

.list-terms {
  margin-top: 35px;
  dt + dd { margin-top: 5px; }
  dd + dt { margin-top: 25px; }
}

// List index
//

.list-index {
  counter-reset: li;

  li {
    .list-index-counter {
      &:before {
        content: counter(li, decimal-leading-zero);
        counter-increment: li;
      }
    }
  }
}

// List marked
//

.list-marked {
  li {
    position: relative;
    padding-left: 16px;

    &:before {
      content: '';
      display: inline-block;
      background: $gray-dark;
      width: 3px;
      height: 3px;
      position: absolute;
      left: 0;
      top: 50%;
      @include transform (translateY(-50%));
    }
  }
}


// Misc
// -------------------------

// Blockquotes
blockquote {
   q {
      &:before,
      &:after { content: none; }
   }
  cite { font-style: normal; }
}

.quote {
  position: relative;
  border-left: none;
  margin-bottom: 0;
  padding: 15px 0 0 50px;
  font-size: $font-size-base;

  &:before {
    content: "\201C";
    position: absolute;
    top: -12px;
    left: -6px;
    font-family: $font-family-base;
    font-size: 138px;
    font-weight: 500;
    line-height: 1;
  }

  @media (min-width: $screen-md-min) {
    padding: 18px 0 0 50px;
  }

  @media (min-width: $screen-lg-min) {
    padding: 18px 30px 0 70px;
  }
}

// Addresses
address {
  margin-top: 0;
  margin-bottom: 0;
}


// Backgrounds
// -------------------------

// Contextual backgrounds
//

%context-dark {
  &, #{headings()} { color: $white; }
  @at-root a#{&}, a {
    &:hover { color: $brand-primary; }
  }
}

%context-primary {
  &, #{headings()} { color: $white; }
  a:hover { color: $gray; }
}

.bg-dark {
  @extend %context-dark;
}

.bg-gray-base {
  @include bg-variant-custom(#{$gray-base});
  @extend %context-dark;
}

.bg-gray {
  @include bg-variant-custom(#{$gray});
  @extend %context-dark;
}

.bg-primary {
  @include bg-variant-custom(#{$brand-primary});
  @extend %context-primary;
}

// Colors
// -------------------------

// Contextual colors
//

.page {
  @include text-emphasis-variant('.text-primary', $brand-primary, $gray);
  @include text-emphasis-variant('.text-dark', $gray-dark);
  @include text-emphasis-variant('.text-gray', $gray);
  @include text-emphasis-variant('.text-white', $white);
}
