//
// Custom Utilities
// --------------------------------------------------

.row-no-gutter {
  > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

.page .grid-indents-1 {
  @include make-grid-indents("*", 0, 50px);
  @media (min-width: $screen-lg-min) { @include make-grid-indents("*", 0, 99px); }
}

.grid-indents-2 {
  @include make-grid-indents("*", 35px, 0);
}

.custom-grid-1 {
  @media (max-width: $screen-xs-max) {
    display: flex;
    flex-wrap: wrap;

    [class*="col-"] {
      flex-basis: 100%;
      &.order-1 { order: 1; }
      &.order-2 { order: 2; }
    }
  }
}

.hide-xs {
  @media (min-width: $screen-xs-min) { display: none; }
}

.video {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 69%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-style: none;
  }
}

.halfwidth { width: 50%; }
.fullwidth { width: 100%; }

.link { display: inline-block; }

#{headings()} {
  .icon { vertical-align: middle; }
}

@mixin mask-black() {
  position: relative;

  > * {
    position: relative;
    z-index: 1;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($gray-base,.3);
  }
}

.add-z {
  position: relative;
  z-index: 10;
}

@mixin mask-blank() {
  position: relative;

  > * {
    position: relative;
    z-index: 1;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0);
  }
}

.mask-black { @include mask-black; }
@media (min-width: $screen-xs-min) { .mask-black-xs { @include mask-black; }}
@media (min-width: $screen-sm-min) { .mask-black-sm { @include mask-black; }}
@media (min-width: $screen-md-min) { .mask-black-md { @include mask-black; }}
@media (min-width: $screen-lg-min) { .mask-black-lg { @include mask-black; }}

.mask-blank { @include mask-blank; }
@media (min-width: $screen-xs-min) { .mask-blank-xs { @include mask-blank; }}
@media (min-width: $screen-sm-min) { .mask-blank-sm { @include mask-blank; }}
@media (min-width: $screen-md-min) { .mask-blank-md { @include mask-blank; }}
@media (min-width: $screen-lg-min) { .mask-blank-lg { @include mask-blank; }}

$floating: (left, right, none);
@include make-responsive-with-postfix(push, float, $medias, $floating);

$sizes: (30%, 35%, 40%, 42.9%, 46.16%, 53.84%, 57.1%, 100%);
@include make-responsive-with-postfix(horizontal-limiter, width, $medias, $sizes);
