.mynavbar {
  &__contacts {
    display: none;
  }

  &__metro {
    display: block;
    text-align: center;
    color: #fb5255;
    font-size: 22px;
    font-weight: bold;
  }

  &__adress {
    display: block;
    width: 160px;
    color: black;
    font-weight: normal;
    font-size: 10px;
    margin-left: 20px;
    text-align: center;
  }

  &__phone {
      display: inline-block;
      text-align: center;
      color: #fb5255;
      font-size: 16px;
      font-weight: bold;
      margin-right: 10px;
  }

  &__right {
      display: flex !important;
      justify-content: space-between;
      align-items: baseline;

      * + .btn {
          margin-top: 5px;
          margin-bottom: 5px;
      }
  }


}

@media (min-width: 320px) {}
@media (min-width: 480px) {}
@media (min-width: 768px) {
  .mynavbar {
    &__phone {
      font-size: 22px;
      margin-right: 25px;
    }
  }

  //сползающее меню - убираем все верхние элементы при прокрутке вниз
    .rd-navbar-default .rd-navbar-fullwidth.rd-navbar--is-stuck .rd-navbar-fullwidth-collapse,
     .rd-navbar-default .rd-navbar-fullwidth.rd-navbar--is-clone .rd-navbar-fullwidth-collapse {
       display: none !important;
     }

}
@media (min-width: 992px) {
  .mynavbar {
    &__contacts {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__phone {
      font-size: 24px;
    }
  }
}
@media (min-width: 1024px) {
  .mynavbar {
    &__adress {
      width: 180px;
      font-size: 12px;
    }

    &__phone {
      font-size: 26px;
    }
  }

}
@media (min-width: 1200px) {
  .mynavbar {
    &__inner {
      padding-bottom: 0px;
    }
    &__right {}
    &__nav {
      order: 3;
      margin-left: auto;
      margin-right: auto;
    }

    &__menu {
      li a {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
      }
    }

    &__adress {
      width: 190px;
      font-size: 14px;
      // width: 270px;
      // br {
      //   display: none;
      // }
    }

    &__phone {
      font-size: 28px;
    }
  }
}
@media (min-width: 1357px) {
  // .mynavbar {
  //   &__inner {
  //     padding-bottom: 0;
  //   }
  //   &__right {
  //     order: 3;
  //   }
  //   &__nav {
  //     order: 0;
  //     margin-left: 0;
  //     margin-right: 0;
  //   }
  // }

  .mynavbar {
    &__inner {}
    &__right {}
    &__nav {
      width: 100%;
    }
    &__menu {
      text-align: center;
    }
  }
}
@media (min-width: 1500px) {}
@media (min-width: 1600px) {}
