.mynavbar {
  display: flex !important;
  justify-content: space-between;
  align-items: baseline;

  * + .btn {
    margin-top: 0;
  }

  &__phone {
    display: inline-block;
    text-align: center;
    color: #fb5255;
    font-size: 28px;
    font-weight: bold;
    margin-right: 40px;
  }
}
