
.table-input {
  display: none;
}

.table-nav {
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  margin: 50px auto 35px;
}

.table-tab {
  // cursor: pointer;
  // display: block;
  // padding: 10px;
  // margin: 0;
  // text-align: center;
  // font-weight: bold;
  // font-size: 24px;
  // opacity: 0.6;
  // border-bottom: 2px solid transparent;

  cursor: pointer;
  display: block;
  padding: 10px 30px;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  opacity: 0.7;
  border: 2px solid transparent;
  border-radius: 26px;

  &--checked {
    color: #fb5255;
    opacity: 1;
    border: 2px solid #cacaca;
  }

  &:hover {
    border: 2px solid #cacaca;
    opacity: 1;
  }
}


.table-attention {
  display: block;
  min-height: 21px;
  margin: 25px auto;
  text-align: center;
  font-size: 16px;
  color: #fa5254;

}

//убираем переключение инпутов

// #tdata-0:checked ~ .table-nav .table-tab--0,
// #tdata-1:checked ~ .table-nav .table-tab--1,
// #tdata-2:checked ~ .table-nav .table-tab--2 {
//   color: #fb5255;
//   opacity: 1;
//   border: 2px solid #cacaca;
// }


// #tdata-1:checked ~ .table-attention {
//   visibility: visible;
// }


// #tdata-0:checked ~ .table-price--1,
// #tdata-1:checked ~ .table-price--2,
// #tdata-2:checked ~ .table-price--3 {
//   display: table;
// }


.table-price {
  display: none;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  vertical-align: middle;

  &:first-child {
    display: table;
  }

  tr {
    border-bottom: 1px solid #eeeeee;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  td {
    width: 20%;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .one {
    color: #86939e;
  }
  .two {
    color: #fb5255;
    font-weight: bold;
    font-size: 25px;

    img {
      display: inline-block;
      padding: 0;
      margin: 0;
    }
  }
  .three {
    font-size: 16px;
    color: black;
  }
  .four {
    font-weight: bold;
    font-size: 25px;
  }
  .five {}
}


@media (max-width: 768px) {

  .shell--table {
    max-width: 95%;
    padding: 0;
  }

  .table-nav {
    justify-content: space-between;
    margin: 30px auto 20px;
  }

  .table-tab {
    font-size: 20px;
  }

  .table-attention {
    margin: 5px auto 15px;
    font-size: 12px;
  }

}


@media (max-width: 480px) {

  .table-nav {
    flex-direction: column;
    margin: 30px auto 20px;
    align-items: center;
  }

  .table-tab {
    font-size: 20px;
  }

  .table-attention {
    margin: 5px auto 15px;
    font-size: 12px;
  }

  .table-price {
    tr {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;

      position: relative;
    }
     td {
      display: block;
      margin: 0 ;
      padding: 5px 0;
      width: auto;
    }

    .one {
      display: block;
      position: absolute;
      bottom: 20px;
      left: 0;
      font-size: 14px;
    }
    .two {
      display: flex;
      justify-content: center;
      font-size: 30px;
      line-height: 24px;
      margin: 0 5px;
      img {
        width: 22px;
        height: 24px;
      }
    }
    .three {
      font-size: 12px;
    }
    .four {
      order: -1;
      align-self: flex-start;
      text-align: left;
      font-size: 18px;
    }
    .five {

      button {
      width: 120px;
      padding: 15px 0;
      font-size: 12px;
     }
    }
  }


}

// отключаю картинки до 360
@media (max-width: 380px) {

  .table-nav {
    flex-direction: column;
    margin: 15px auto 10px;
    align-items: center;
  }

  .table-tab {
    font-size: 18px;
  }

  .table-attention {
    margin: 0px auto 10px;
    font-size: 10px;
  }

  .table-price {
    tr {}

     td {}

    .one {
      font-size: 16px;
    }
    .two {
      display: none;
    }
    .three {
      font-size: 14px;
    }
    .four {
      font-size: 18px;
    }
    .five {
      width: 100px;
      button {
      width: 100px;

     }
    }
  }


}




@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
@media (min-width: 1600px) {}
