.tarify-text {
  text-align: center;
}

.tab-wrapper {
  width: 100%;
  margin: 0 auto;

  tr {

    vertical-align: middle;
    border-bottom: 1px solid #eeeeee;
  }

  td {
    width: 20%;
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
