.videobg {
    height: 200px;
    position: relative;
    overflow: hidden;
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__demo {
        background-image: url("../images/video_bg/video-bg_800x450.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__src {
       display: none;
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        object-fit: contain;
    }
    &__overlay {
      display: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        pointer-events: none;
        opacity: 0.5;
        background-repeat: repeat;
        background-image: url("../images/video_bg/black-medium-checks.png");
    }
    &__content {
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        margin: 0 auto;

        // background: rgba(0,0,0,0.5);
        text-align: center;
        color: #FFF;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);

    //     font-size: 40px;
    //     font-weight: bold;
    //     font-family: "Foco Bold";
    }
    &__text {
      padding: 0 5%;
      color: white;
      font-size: 20px;
    }

    // &__phone {
    //   position: absolute;
    //   top: 10px;
    //   right: 5%;
    //   text-align: right;
    //   color: white;
    //   font-size: 40px;
    //   font-weight: bold;
    // }
}


@media (min-width: 768px) {
  .videobg {
    height: 500px;
    &__src {
      display: block;
    }

    &__overlay {
      display: block;
    }

    &__text {
      padding: 0 10%;
      color: white;
      font-size: 36px;
    }
  }
}
